body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrollbar */
}

.sun {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    z-index: 1;
}
.background {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    z-index: 0;
}

.card {
    height: 350px;
    width: 330px;
    background-color: #000000;
    color: white;
    font-family: monospace;
    font-size: 20px;
    padding: 20px;
    z-index: 1;
    box-shadow: 0 0 7px 3px #FFB91D,
                0 0 15px 7px #EE8204,
                0 0 21px 15px #962400;  /* glowing effect */
    cursor: pointer;
    transition: width 0.5s ease-in-out; /* Add a transition for smooth expansion */
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%); /* Center the card */
    opacity: 0; /* Starting opacity */
}

@keyframes slideInLeft {
    from {
        left: -50%;
        transform: translate(-50%, -50%);
    }
    to {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes slideInRight {
    from {
        left: 150%;
        transform: translate(-50%, -50%);
    }
    to {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes disappearLeft {
    from {
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        left: -50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes disappearRight {
    from {
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        left: 150%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

.card.appearRight {
    opacity: 1;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out, left 0.5s ease-in-out;
    left: 50%; /* center */
    transform: translate(-50%, -50%);
    animation: slideInRight 0.5s ease-in-out;
}

.card.appearLeft {
    opacity: 1;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out, left 0.5s ease-in-out;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideInLeft 0.5s ease-in-out;
}

.card.disappearLeft {
    opacity: 1;
    z-index: 1;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out, left 0.5s ease-in-out;
    left: -50%;
    transform: translate(-50%, -50%);
    animation: disappearLeft 0.5s ease-in-out;
}

.card.disappearRight {
    opacity: 1;
    z-index: 1;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out, left 0.5s ease-in-out;
    left: 150%;
    transform: translate(-50%, -50%);
    animation: disappearRight 0.5s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 7px 3px #FFB91D,
                0 0 15px 7px #EE8204,
                0 0 21px 15px #962400,
                0 0 28px 22px #3E0204; /* add more glow on hover */
}

.content {
    margin-bottom: 10px;
}

/* Split the screen in half */
.split {
    font-size: 30px;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 0;
    top: 0;
    cursor: default;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    color: rgb(111, 0, 255);
    background-color: rgba(0, 0, 0, 0);
    display: none; /* Initially hide the "Previous" button */
  }
  
  /* Control the right side */
  .right {
    right: 0;
    color: rgb(111, 0, 255);
    background-color: rgba(0, 0, 0, 0);
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.exit_button {
    font-family: monospace;
    font-size: 20px;
    color: grey;
    z-index: 1;
    background:none;
    border:none;
    margin: 5px;;
    padding: 5px;;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.header-paragraph {
    position: absolute;
    text-align: center;
    font-size: 40px;
    color: rgb(111, 0, 255); 
    top: 0;
}

.index-label {
    font-size: 14px;
    color: #777; /* Gray text color */
}
