body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrollbar */
}

.card {
    width: 50px; /* Starting width */
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(99, 69, 4, 0.3);
    cursor: pointer;
    transition: width 0.5s ease-in-out; /* Add a transition for smooth expansion */
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%); /* Center the card */
    opacity: 0; /* Starting opacity */
}

@keyframes slideInLeft {
    from {
        left: -50%;
        transform: translate(-50%, -50%);
    }
    to {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes slideInRight {
    from {
        left: 150%;
        transform: translate(-50%, -50%);
    }
    to {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.card.appearRight {
    width: 300px;
    opacity: 1;
    z-index: 1;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out, left 0.5s ease-in-out;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideInRight 0.5s ease-in-out;
}

.card.appearLeft {
    width: 300px;
    opacity: 1;
    z-index: 1;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out, left 0.5s ease-in-out;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideInLeft 0.5s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 40px rgb(129, 3, 3); /* Increase the glow on hover */
}

.content {
    margin-bottom: 10px;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #d3d16f;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(103, 206, 184);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
